* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* common */
a {
    text-decoration: none;
}

:root {
    --header-color: #10375c;
    --text-color: #fff;
    --text-main-color: #575f66;
    --title-main-color: #10375c;
    --button-color: #2e80ce;
    --button-text-color: #fff;
}
.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.btn {
    display: flex;
    min-width: 205px;
    height: 60px;
    border-radius: 999px;
    background: var(--button-color);
    color: var(--button-text-color);
    padding: 15px 48px;
    justify-content: center;
    align-items: center;

    outline: none;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
img {
    object-fit: cover;
}

.title {
    color: var(--title-main-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -0.1rem;
}
.decs {
    color: var(--text-main-color);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}
.button__controls {
    display: flex;
    justify-content: center;
    gap: 18px;
}
.button__control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #fff;
    color: #575f66;
    border: 1px solid #575f66;
    outline: none;
    transition: 0.25s;
}
.button__control:last-child {
    transform: rotate(180deg);
}

.button__control:hover {
    border-color: #2e80ce;
    background: #2e80ce;
    color: #fff;
}

/* style */

/* --------------------------------- Header --------------------------------- */
header.header {
    padding-top: 30px;
    padding-bottom: 16px;
    background: var(--header-color);
}
.header-top {
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    gap: 6px;
    align-items: center;
}
.logo__text {
    display: flex;
    flex-flow: column;
    text-align: right;
}

.logo__text--1 {
    color: #fff;

    font-size: 1.8rem;
    font-weight: 400;
    line-height: 0.77;
}
.logo__text--2 {
    margin-top: 4px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 0.77;
}

nav.nav {
    margin-left: 320px;
}

.nav__list-menu {
    display: flex;
    gap: 42px;
}

.nav__menu-item a,
.login__text {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 1.75; /* 175% */
}
.nav__menu-item a:hover,
.login__text {
    cursor: pointer;
    opacity: 0.5;
}
.nav__menu-item:first-child a {
    color: #fff;
    font-weight: 400;
    position: relative;
}

.nav__menu-item:first-child a::before {
    position: absolute;
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    bottom: 7px;
    left: -15px;
}

.header-top .login {
    margin-left: 230px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    gap: 28px;
}
.login__signup {
    min-width: 104px;
    font-size: 1.6rem;
    height: 44px;
    padding: 8px 20px;
}
/* --------------------------------- Main --------------------------------- */
/* --------- Hero ----- */

.hero {
    padding-top: 60px;
    padding-bottom: 110px;
    background: var(--header-color);
}
.hero .content {
    display: flex;
    position: relative;
}

.hero__left {
    width: 517px;
}

.hero__title {
    margin-top: 60px;
    color: var(--text-color);
    font-size: 6.9rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
}
.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}
.hero__cta {
    padding-left: 46px;
    padding-right: 46px;
}
.hero__phone {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.hero__right {
    margin-left: 110px;
    height: 540px;
}
.hero__right img:first-child {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    position: absolute;
    z-index: 999;
}

.hero__right img:last-child {
    width: 210px;
    height: 410px;
    border-radius: 6px;
    position: absolute;
    right: 0;
    top: 12%;
}
/* --------- services ----- */
.services {
    padding-top: 170px;
    padding-bottom: 170px;
}
.services__title {
    text-align: center;
}
.services__desc {
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 468px;
}

.services__row {
    margin-top: 70px;
    display: flex;
}
.services__left {
}
.services__left img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}
.services__right {
    margin-left: 130px;
    margin-top: 35px;
}

.services__item {
    display: flex;
    border-radius: 10px;
    padding: 21px 60px 20px 22px;
    transition: 0.25s;
}
.services__item:hover {
    box-shadow: 0px 5px 5px #ebebeb;
}

.services__circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
}

.services__item:first-child .services__circle-icon {
    background: #2e80ce;
}
.services__item-desc {
    margin-left: 19px;
    display: flex;
    flex-flow: column;
    gap: 8px;
}

.services__item-title {
    font-size: 1.8rem;
}
.services__item-link {
    width: 351px;
    font-size: 1.6rem;
    line-height: 1.75;
}
.services__btn {
    display: inline-block;
    margin-top: 55px;
}

/* --------- works ----- */
.works {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #f6fbff;
}
.works__desc {
    margin-top: 18px;
    width: 46.8rem;
}

.works__row {
    margin-top: 102px;
    display: flex;
    gap: 30px;
}
.works__item {
    width: 370px;
    background: #fff;
    border-radius: 4px;
    padding: 42px;
    border: 16px solid #eaf6ff;
    transition: 0.25s;
}
.works__item:hover {
    cursor: pointer;
    transform: translateY(-16px);
    border-color: #2e80ce;
}
.works__item:hover .works__item-link {
    color: #2e80ce;
    font-weight: 400;
}

.works__item-title {
    margin-top: 18px;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.5; /* 138.462% */
}

.works__item-desc,
.works__item-link {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.works__item-desc {
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
    margin-top: 28px;
}
.works__item-link {
    display: inline-block;
    margin-top: 18px;
}

/* --------- take-back ----- */
.take-back {
    margin-top: 170px;
}

.take-back__row {
    display: flex;
}
.take-back__left,
.take-back__right {
    flex: 1;
}
.tack-back__img--big {
    width: 512px;
    height: 370px;
    border-radius: 6px;
}
.take-back__left {
    position: relative;
}
.tack-back__img--small {
    width: 332px;
    height: 370px;
    border-radius: 6px;
    position: absolute;
    right: 0;
    bottom: -83px;
}

.take-back__main-content {
    padding: 82px 0 0 130px;
}

.take-back__desc {
    margin-top: 18px;
    width: 468px;
}
.take-back__btn {
    display: inline-block;
    margin-top: 38px;
}
/* --------- dentist ----- */
.virtual-dentist {
    margin-top: 253px;
    text-align: center;
}
.virtual-dentist__title {
    text-align: center;
}
.virtual-dentist__btn {
    margin-top: 38px;
    display: inline-block;
    padding: 15px 27px;
}

.virtual-dentist__row {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.virtual-dentist__bg {
    width: 270px;
    height: 318px;
    background: #eaf6ff;
    border-radius: 6px;
    position: relative;
}
.virtual-dentist_img {
    position: absolute;
    bottom: 0;
    right: 0;
}
.virtual-dentist__name {
    margin-top: 12px;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}
.virtual-dentist__sub-info {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85; /* 185.714% */
}
.virtual-dentist__controls {
    margin-top: 38px;
}

/* --------- download ----- */
.download {
    margin-top: 265px;
}
.download__row {
    background: #2e80ce;
    display: flex;
    border-radius: 4px;
    position: relative;
}
.download__img {
    position: absolute;
    bottom: 0;
    left: 70px;
}

.download__main-content {
    margin-left: 514px;
    padding: 75px 70px 75px 0;
}
.download__title {
    color: var(--text-color);
    width: 489px;
}
.download__desc {
    color: var(--text-color);
    margin-top: 18px;
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 1.66; /* 166.667% */
}

.download__btns {
    margin-top: 38px;
    display: flex;
    gap: 28px;
    align-items: center;
}

.download__btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #2e80ce;
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #fff;
}
.download__btn:hover {
    cursor: pointer;
}
.download__btn-text {
    text-align: left;
    color: var(--text-color);
    display: flex;
    flex-flow: column;
}
.download__btn-text-small {
    font-size: 0.6rem;
    font-weight: 500;
}
.download__btn-text-big {
    font-size: 1.6rem;
    font-weight: 500;
}
/* ============== news =============== */
.news {
    margin-top: 170px;
}
.news__row {
    display: flex;
}
.news__left {
    display: flex;
    flex-flow: column;
    gap: 28px;
}
.news__right {
    margin-left: 130px;
    display: flex;
    gap: 30px;
}
.news__title {
    padding-top: 68px;
    width: 470px;
}
.news__link {
    text-decoration: underline;
    color: #10375c;
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.55; /* 155.556% */
    text-decoration-line: underline;
}
.news__control_btn {
    margin-right: auto;
}
.news__blog-item {
    border-radius: 12px;
    width: 270px;
    border: 1px solid #e8ebee;
    transition: 0.25s;
}
.news__blog-item:hover {
    box-shadow: 0px 8px 10px #ebebeb;
    cursor: pointer;
}
.news__blog-item:hover .news__blog-link {
    color: #2e80ce;
}
.news__blog-item--content {
    padding: 18px 24px 21px 22px;
}
.news__blog-item img {
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    height: 172px;
}
.news__blog-title {
    font-size: 1.6rem;

    font-weight: 600;
    line-height: 1.62; /* 162.5% */
}
.news__blog-desc {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.7; /* 171.429% */
}
.news__blog-link {
    display: inline-block;
    color: #10375c;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 600;
}
/* ============== Appointment =============== */
.appointment {
    margin-top: 170px;
    padding: 100px 0;
}
.appointment .content {
    background: #f6fbff;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    gap: 38px;
}
.appointment__title {
    position: relative;
}
.appointment__title::after {
    content: "";
    display: block;
    background: #2e80ce;
    width: 136px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -18px;
    transform: translateX(-50%);
}
.appointment__desc {
    margin: 0 auto;
    font-size: 1.6rem;
    width: 617px;
}
.appointment__btn {
    margin: 0 auto;
    max-width: 205px;
    display: inline-block;
    padding: 15px 40px;
}
/* --------------------------------- Footer --------------------------------- */
.footer {
    margin-top: 170px;
    background: var(--header-color);
}
.footer__row {
    padding-top: 100px;
    padding-bottom: 28px;
    display: flex;
    gap: 78px;
}
.footer__desc {
    margin-top: 21px;
    color: #a9b3bb;
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.footer__column:nth-child(1) {
    width: 336px;
}
.footer__menu-list:nth-child(2) {
    margin-top: 28px;
}

.footer__menu-item:first-child,
.footer__column-title {
    color: #fff;
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.75; /* 175% */
}

.footer__menu-item a {
    display: inline-block;
    margin-top: 10px;
    color: #a9b3bb;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
    white-space: nowrap;
}
.footer__menu-item a:hover {
    opacity: 0.5;
}
.footer__menu-item:first-child {
    margin-top: 0;
}
.footer__menu-item:nth-child(2) a {
    margin-top: 20px;
}

.footer__column-desc {
    margin-top: 20px;
    color: #a9b3bb;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
    width: 273px;
}
.footer__column-title:nth-of-type(2) {
    margin-top: 28px;
}
.social-icons {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.social-icon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    color: #2e80ce;
    transition: 0.25s;
}
.social-icon:hover {
    background: #2e80ce;
    color: #fff;
}

.footer__separate {
    height: 1px;
    background: #406181;
}
.footer__copy {
    padding: 28px 0 42px 0;
    color: #aab3ba;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}
.footer__form {
    display: flex;
    margin-top: 10px;
    gap: 12px;
}
.footer__form-input {
    width: 212px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #406181;
    outline: none;
    background: transparent;
    padding: 10px;
}
.footer__form-btn {
    padding: 10px 21px;
    border-radius: 4px;
    height: 46px;
    width: 100px;
    min-width: 100px;
    border-color: #2e80ce;
    color: #fff;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85; /* 185.714% */
}
.footer__form-btn:hover {
    cursor: pointer;
}

.footer__form-input::placeholder {
    color: #9ca8b1;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}
